<!DOCTYPE html>
<html>
    <head>
        <title>Gulp md docs</title>
        <meta charset="utf-8">
        <link href="./style.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="test-block">
            <% if (!_.isEmpty(headerMenu)) { %>
                <ul>
                    <% _.forEach(headerMenu, function(data) { %>
                        <li>
                            <a href="<%- data.href %>">
                                <%- data.text %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
        <div class="test-block">
            SIDE_MENU: 
        </div>
        <div class="test-block">
            CONTENT: <%= content %>
        </div>
        <div class="test-block">
            FOOTER_MENU: 
        </div>
    </body>
</html>